#show {
    background: #f8f8f8;
    z-index: 10;
    position: relative;
    color: #2b3376;
}
section#show {
    padding-top: 40px; 
}  

#show h2 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 10px;
    text-transform: uppercase;
    padding-bottom: 20px;
}

#show p {
    max-width: 720px;
    text-align: center;
    font-size: 16px;
}

.show-subtitle {
    max-width: 720px;
    padding: 20px;
    font-size: 3em;
    text-align: center;
}

#chill {
    background: #2b3376;
    color: #fff;
}

#chill h2 {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 10px;
    text-transform: uppercase;
    padding: 0 0 30px;
    text-align: left;
}

#chill span {
    padding: 50px 0 0 0;
    letter-spacing: 2px;
}

#party {
    background: #7ccbe0;
    color: #2b3376;
}

#music {
    background: #282828;
    color: #1ED760;
}

#food {
    background: #fadf10;
    color: #2b3376;
}
#food p {
    font-weight: 600;
}
#food li p {
    margin-bottom: 6px;
}

#contact {
    background: #f8f8f8;
    color: #2b3376;
}

#contact h2 {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 10px;
    text-transform: uppercase;
    padding: 0 30px 0 30px;
    text-align: right;
}

#contact p {
    font-weight: bold;
    color: #828282;
    font-size: .75em;
    line-height: 170%;
}

h2 {
    font-size: 5vh;
    text-align: center;
}

.food {
    text-align: right;
    padding: 0 30px 0 50px;
}

.drinks {
    text-align: left;
    border-left: #2b3376 3px dotted;
    padding: 0 50px 0 30px;
}

.food, .drinks {
    letter-spacing: 2px;
    text-transform: uppercase;
}

.drinks ul {
}

.spotify {
    height: 600px;
    width: 100%;
}

section#music {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.contact-header {
    padding-bottom: 20px;
    border-bottom: solid #e9eaf1 1px;
}

.contact-feature {
    padding: 0;
    border-bottom: solid #e9eaf1 1px;
}

.contact-feature:nth-child(1) {
    border-left: solid #e9eaf1 1px;
}

.contact-feature:nth-child(2) {
    border-right: solid #e9eaf1 1px;
}

.contact-feature h4 {
    margin: 40px 0 20px 0;
}

.contact-feature-item {
    margin: 60px 0;
    padding: 0 60px;
}

.contact-feature:nth-child(1) > .contact-feature-item {
    border-right: solid #e9eaf1 1px;
}

.contact-address {
    text-align: center;
    padding: 60px;
    font-size: .75em;
    border-left: solid #e9eaf1 1px;
}

.contact-address span, .contact-address a {
    color: #828282;
}

.footer-arrow > img{
    height: 20px;
}
.footer-arrow{
    width: 100%;
    margin-top:30px;
}
.company-icons{
    padding:60px;
}
.contact-bottom{
    border-bottom: solid #e9eaf1 1px;
}
.company-icons img{
    width: 48px;
    margin:0 10px;
}

.footer-social-icons img{
    width:32px;
}
.fat-heading {
    margin-bottom: 30px;
}
.dots-header img {
    width: 45px;
}