@media only screen and (max-width: 767px) {
    .container {
        width: 100%;
        padding: 0;
    }

    .main-container {
        width: 100%;
        overflow-x: hidden;
    }

    .nav-bar {
        margin: 0;
    }

    .nav-video {
        display: block;
    }

    .nav-bar ul {
        height: auto;
        display: block;
    }

    .nav-bar ul li {
        padding: 0;
        text-align: left;
    }

    .nav-bar ul li a {
        padding: 12px 0;
        display: block;
    }

    .mobile-header {
        display: block;
    }

    #navigation-container {
        margin-top: 0;
        z-index: 99;
        position: relative;
    }

    .nav-fixed {
        padding: 0;
    }

    .active-nav-element {
        display: block;
    }

    .header-btn a {
        margin: 10px;
    }

    .header-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        margin: 0;
    }

    .header-social {
        display: none;
    }

    .header-text .deposit-txt {
        padding: 0;
    }

    .header-text {
        margin-top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-text h3 {
        display: none;
    }

    .header-text p {
        margin: 0;
    }

    .fullscreen-bg-container {
        max-height: 460px;
    }
}